<h1>Mi Perfil</h1>
<main class="profile">
    <div>
        <p>Nombre: <span>{{user.first_name}} {{user.last_name}}</span> </p>
        <p>Edad: <span>{{user.age }}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <button>
            <a href="/upload"> Cargar Más Imagenes</a>
        </button>
            
    </div>
</main>