<h1>Registro</h1>
<div class="upload">
    <form action="/register" method="POST" class="uploadcontainer">
    
        <div class="inputcontainer">
            <input type="text" id="first_name" name="first_name" placeholder="Nombre" required>
        </div>
        <div class="inputcontainer">
            <input type="text" id="last_name" name="last_name" placeholder="Apellido" required>
        </div>
        <div class="inputcontainer">
            <input type="text" id="email" name="email" placeholder="Correo Electrónico" required>
        </div>
        <div class="inputcontainer">
            <input type="number" id="age" name="age" placeholder="Edad" required>
        </div>
        <div class="inputcontainer">
            <input type="text" id="password" name="password" placeholder="Contraaseña" required>
        </div>
        <div class="inputcontainer">
            <button>Registrarse</button>
        </div>

    </form>
</div>