<div class="upload">
    <form action="/upload" method="POST"  enctype="multipart/form-data" class="uploadcontainer">
        <div class="inputcontainer ">
            <input type="file" name="image" id="img" style="display:none;"/>
            <label for="img" class="btnSubir">Subir imagen</label>
        </div>
        <div class="inputcontainer">
            <input type="text" name="title" placeholder="Titulo imagen">
        </div>
        <div class="inputcontainer">
            <input type="text" name="description" placeholder="Descripción">
        </div>
        <div class="inputcontainer">
            <button>Publicar</button>
        </div>
    </form>

</div>