body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    color: darkslategray;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkolivegreen;
    padding: 20px 0px;
    margin-bottom: 40px;
}

li, li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.logo {
    font-size: large;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}

/* Upload */

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.uloadcontainer {
    height: 200px;
    width: 200px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.inputcontainer {
    margin: 15px 0px;
    font-size: medium;

}
.inputcontainer input {
    border: none;
    background-color: rgb(239, 239, 239);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: medium;
}

.btnSubir {
    border-radius: 20px;
    color: #fff;
    border: 2px solid darkolivegreen;
    background-color: darkolivegreen;
    padding: 5px 10px;
    cursor: pointer;
}

.btnSubir:hover {
    transition: ease-out 0.5s;
    color: darkolivegreen;
    background-color: #fff;
}

.inputcontainer button, .card button {
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    border: 2px solid darkolivegreen;
    background-color: darkolivegreen;
    padding: 5px 10px;
    font-size: medium;
}

.inputcontainer button:hover, .card button:hover {
    transition: ease-out 0.5s;
    color: darkolivegreen;
    background-color: #fff;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid darkolivegreen;
}

/* index */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px); /* Subtract the navbar height from the viewport height */
    gap: 30px;
}

.card {
    height: 500px;
    width: auto;
    padding: 30px;
}

.card img {
    height: 400px;
    width: auto;
}

button a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-size: medium;
}

button a:hover {
    transition: ease-out 0.5s;
    color: darkolivegreen;
}