<header>
    <a href="/" class="logo">BamBam</a>
    <nav>
        <ul class="navbar">
            {{#if user}}
                <li><a href="/profile">Hola {{user.first_name}}</a></li>
                <li><a href="/upload">Upload</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/register">Registrarse</a></li>
            {{/if}}
        </ul>
    </nav>
</header>